<?xml version="1.0" encoding="UTF-8"?>

<phpunit
  colors="true"
  verbose="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  stopOnFailure="false"
  processIsolation="false"
  syntaxCheck="true"
  bootstrap="tests/bootstrap.php"
  >

  <testsuites>
    <testsuite name="Challenge Test Suite">
      <directory>./tests/Challenge/</directory>
    </testsuite>
  </testsuites>

</phpunit>