<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "xhtml11.dtd">
<html>
    <head>
        <link rel="stylesheet" href="/css/app.css" type="text/css" media="screen, projection">
    </head>
    <body>
        <h1>Code Challenge</h1>
        <div id="menu">
            {% block menu %}
                {% include 'layout/menu.html.twig' %}
            {% endblock %}
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>