Question 1: <a href="/objects">Objects</a> 
<br>
Question 2 and 3: <a href="/tests">Tests</a> / 
<a href="http://sismo.clemusa.com/code-challenge" target="_none">PHPunit test results</a>
<br>
Question 4: <a href="/database">DB Design</a> / <a href="/student">student by studentId</a>
<br>
Question 5: <a href="/printinfo">MVC framework</a>
<hr>
