{% extends "layout/layout.html.twig" %}
{% block content %}
<p>
Here is a sample sql file with the table definitions that could be used for the implementation.
</p>
<h2>database.sql</h2>
<pre><code>{{ sqlFile }}</code></pre>
{% endblock %}