{% extends "layout/layout.html.twig" %}
{% block content %}
<h2>Person Interface</h2>
<pre><code>{{ personInterfaceClass }}</code></pre>
<h2>Person Abstract Class</h2>
<pre><code>{{ personClass }}</code></pre>
<h2>Student Class</h2>
<pre><code>{{ studentClass }}</code></pre>
<h2>Teacher Class</h2>
<pre><code>{{ teacherClass }}</code></pre>
{% endblock %}