{% extends "layout/layout.html.twig" %}
{% block content %}
<p>
Here is a sample code of how we could retrieve a single student data set by studentId
</p>
<h2>Sample Code</h2>
<pre><code>{{ code }}</code></pre>
{% endblock %}